:host {
  width: 100%;
  position: relative;
  display: block;
}

.search-item {
  height: 80px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition:  background-color .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-item:hover, .search-item:focus-within {
  background-color: #dedede;
}

.details {
  display: flex;
  gap: 8px;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.pack-name, .notes {
  font-size: 8px;
}

.song-name, .constant {
  font-weight: 600;
}

.notes {
  text-align: center;
  color: #cc22ee;
}

.notes::before {
  content: "+";
}

.constant {
  color: white;
  display: inline-block;
  width: 48px;
  height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: left;
}

.cover {
  width: 72px;
  height: 72px;
}

.search-panel {
  min-width: 320px;
  max-height: 400px;
  transform: translateY(12px);
  overflow-y: auto;
  box-sizing: border-box;
  padding: 8px;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.12);
  width: 100%;
  z-index: 10;
}