:host {
  width: 100%;
  position: relative;
  display: block;
}

.search-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition:  background-color .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-item:not(:last-child) {
  margin-bottom: 0.5em;
}

.search-item:hover, .search-item:focus-within {
  background-color: #dedede;
}

.search-panel {
  min-width: 320px;
  max-height: 400px;
  transform: translateY(12px);
  overflow-y: auto;
  box-sizing: border-box;
  padding: 8px;
  position: absolute;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.12);
  width: 100%;
  z-index: 10;
}