.details {
  display: flex;
  gap: 8px;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.info-row,
.notes {
  font-size: 8px;
}

.info-row :not(:last-child) {
  margin-right: 1em;
}

.song-name,
.constant {
  font-weight: 600;
}

.alias {
  font-size: 12px;
}

.notes {
  text-align: center;
  color: #cc22ee;
}

.notes::before {
  content: "+";
}

.constant {
  color: white;
  display: inline-block;
  width: 48px;
  height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: left;
}

.bpm {
  font-size: 10px;
  text-align: center;
}

.cover {
  width: 72px;
  height: 72px;
  box-shadow: 0 0 0.5em 0.125em var(--color-side);
}
