<template id="panel">
  <div class="modal-root m-3">
    <header>
      <h1>Arcaea Toolbelt Plugin</h1>
    </header>
    <main class="content">
      <main>
        <header>
          <h2>账号信息</h2>
        </header>
        <div>
          <p>玩家名：<span class="username"></span> 潜力值：<span class="potential"></span></p>
          <button type="button" class="btn btn-outline-secondary" name="refresh">重新获取</button>
        </div>
        <header>
          <h2>查分</h2>
        </header>
        <div>
          <form>
            <div class="row">
              <label for="query-targets" class="form-label">选择要查的玩家（可多选，电脑是按住ctrl选）：</label>
            </div>
            <div class="row">
              <div class="col">
                <select id="query-targets" name="query-targets" multiple class="form-select"></select>
              </div>
            </div>
            <div class="my-3 logging"></div>
            <div class="row my-3">
              <div class="col">
                <button type="button" class="btn btn-primary sync-control" name="sync-control">同步</button>
                <button type="button" class="btn query-control" name="query-control"></button>
              </div>
            </div>
          </form>
        </div>
      </main>
    </main>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" name="close">关闭</button>
    </div>
  </div>
</template>
