<template id="panel">
  <div class="row">
    <div class="col">
      <select class="form-select" name="longterm">
        <option value="" selected>--常驻地图--</option>
      </select>
    </div>
    <div class="col">
      <select class="form-select" name="event">
        <option value="" selected>--活动地图--</option>
      </select>
    </div>
  </div>
</template>

<template id="event-map-option">
  <div class="row">
    <span class="map-name"></span>
    <span class="rewards"></span>
  </div>
</template>
