<dialog></dialog>
<template id="alert">
  <div class="modal-root">
    <div class="modal-content mb-3"></div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">确认</button>
    </div>
  </div>
</template>
<template id="confirm">
  <div class="modal-root">
    <div class="modal-content mb-3"></div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">确认</button>
      <button type="button" class="btn btn-secondary">取消</button>
    </div>
  </div>
</template>
