.panel-root {
  max-width: 100%;
  overflow-x: auto;
  position: relative;
  --text-mask: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.53125) 50%, transparent 100%);
}

.bg {
  min-width: 600px;
  max-width: 800px;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.platforms {
  min-width: 600px;
  max-width: 800px;
  max-height: 500px;
  overflow-y: auto;
  padding: 32px;
  backdrop-filter: blur(1px);
}

.level {
  position: relative;
  height: 4em;
}

.platform-img {
  width: 6em;
}

.cell {
  position: absolute;
  cursor: pointer;
}

.highlighted {
  animation-name: flash;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0ms;
}

@keyframes flash {
  from {
    background-color: rgba(0, 0, 0, 0.53125);
  }
}

.text-banner {
  background-image: var(--text-mask);
}

.length {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 0.8em;
  color: white;
  text-shadow: #00000088;
}

.banner {
  position: absolute;
  width: 120px;
  top: 0;
  left: 0;
  transform: translate(-16%, -70%);
  cursor: help;
}

.stamina-count {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 0.8em;
  transform: translate(-30%, -100%);
}

.reward {
  position: absolute;
  left: 0;
  top: -3em;
  width: 6em;
  height: 6em;
  transform-origin: 50% 50%;
  transform: scale(0.75);
}

.reward.item {
  top: -2em;
  left: 1em;
  width: 4em;
  height: 4em;
}

.item-info {
  position: absolute;
  left: 0;
  font-size: 0.75em;
  top: 2em;
  color: white;
  font-weight: 600;
  width: 8em;
  display: inline-block;
  text-align: center;
}

svg.fragment {
  width: 64px;
  position: absolute;
  left: 1em;
  top: -2em;
}

.fragment-count {
  position: absolute;
  text-align: center;
  color: #ffffff;
  left: 0;
  top: -0.8em;
  width: 100%;
}

.fragment-banner {
  position: absolute;
  left: 0;
  font-size: 0.5em;
  top: 0.8em;
  color: white;
  font-weight: 600;
  width: 100%;
  display: inline-block;
  text-align: center;
  background-image: var(--text-mask);
}
