<template id="panel">
  <div class="panel-root">
    <div class="platforms"></div>
  </div>
</template>

<template id="platform">
  <div class="level">
    <div class="cell">
      <img class="platform-img">
      <span class="length text-banner"></span>
    </div>
  </div>
</template>

<template id="frag">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="fragment">
    <rect x="4" y="4" width="16" height="16" transform="rotate(45 12 12)" fill="#164864"></rect>
    <rect x="6" y="6" rx="1" ry="1" width="12" height="12" transform="rotate(45 12 12)" fill="#0e2840" filter="blur(1px)"></rect>
  </svg>
</template>