dialog {
  border-width: var(--bs-border-width);
  border-radius: var(--bs-border-radius);
  border-color: var(--bs-border-color);
  box-shadow: var(--bs-box-shadow);
  --bs-modal-footer-gap: 4px;
}

blockquote {
  padding: 8px;
  border-radius: 4px;
  background-color: var(--bs-gray-200);
}

.cross-site-script > div > div {
  margin: 8px 0;
}

.modal-footer {
  margin: 0.5em 0;
}

.inline-img {
  width: 3em;
  height: 3em;
}

#greet > .col {
  display: flex;
  align-items: center;
}

#the-script {
  overflow-x: auto;
  white-space: pre;
}
