<div class="row m-3" id="greet"></div>
<div class="row m-3">
  <button type="button" class="btn btn-outline-secondary create-profile">创建存档</button>
  <button type="button" class="btn btn-outline-secondary switch-profile">切换存档</button>
  <button type="button" class="btn btn-outline-secondary update-profile">修改存档</button>
  <button type="button" class="btn btn-outline-secondary export-profile">导出当前存档</button>
  <button type="button" class="btn btn-outline-secondary import-profile">导入存档</button>
</div>
<div class="row m-3">
  <p>b30相关的功能主要是手动录入成绩进行计算并生成看板，类似excel算分表格的在线版。</p>
  <p>
    为了减少手动录入成绩的麻烦，下面也提供一个自助查分脚本工具，可用于在Arcaea官网爬取这些成绩数据，并生成存档同步至本站。
    所有的查分操作都会在浏览器内进行，数据也存在浏览器内。查分原理和
    <code>Arcaea Unlimited API</code>
    一样是查好友榜，并且可以同时查多个玩家。
    <strong
      >目前，616对好友榜查询的Web API添加了限制，此功能需要订阅<code>Arcaea Online</code
      >才能使用，使用此功能的封号风险请自行承担</strong
    >。 目前的QQ bot基本都有<code>ptt &GreaterEqual; 10</code> 才能查b30的限制，但<strong>此脚本无此限制</strong>。
    通常来说被查玩家的潜力值越低，查分越慢，最坏情况是查完将近1000个谱面的好友榜，大约需要5分钟。
  </p>
  <p>关于此脚本更详细的使用方法，请参考<a href="../../../docs/plugin-usage.html" target="_blank">使用说明</a>，下面是简单的使用说明：</p>
  <p>
    在电脑上，使用<code>Chrome/Edge</code>浏览器打开
    <a href="https://arcaea.lowiro.com/zh/" target="_blank">Arcaea官网</a>
    并登录，按F12打开开发者工具，找到控制台（Console），复制并执行以下脚本代码即可调用此脚本。
  </p>
  <div>
    <blockquote id="the-script"></blockquote>
  </div>
  <p>脚本执行后会弹出一个弹框，根据弹框内提示操作即可。关闭弹框后可通过<kbd>Ctrl + B</kbd>重新唤起弹框。</p>
  <p>若需要频繁使用此脚本，可以使用油猴插件实现在访问Arcaea官网时自动执行。</p>
  <p>若要在手机上执行此脚本，可以参考这篇文章：</p>
  <p>
    <a href="https://www.zhihu.com/question/411017015" target="_blank">https://www.zhihu.com/question/411017015</a>
  </p>
</div>
<dialog id="create-profile">
  <form>
    <div class="h4">创建存档</div>
    <div class="mb-3">
      <label for="username" class="form-label">用户名（仅用于区分存档和b30生成）</label>
      <input class="form-control" id="username" name="username" required autofocus />
    </div>
    <div class="mb-3">
      <label for="potential" class="form-label">潜力值</label>
      <input class="form-control" id="potential" name="potential" required />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary cancel">取消</button>
      <button type="button" class="btn btn-primary confirm">确认</button>
    </div>
  </form>
</dialog>
<dialog id="edit-profile">
  <form>
    <div class="h4">修改存档</div>
    <div class="mb-3">
      <label for="ptt" class="form-label">潜力值</label>
      <input class="form-control" id="ptt" name="ptt" required autofocus />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary cancel">取消</button>
      <button type="button" class="btn btn-primary confirm">确认</button>
    </div>
  </form>
</dialog>
<dialog id="switch-profile">
  <form>
    <div class="h4">切换存档</div>
    <div class="row">
      <div class="col">
        <select class="form-select" name="profile" required></select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary cancel">取消</button>
      <button type="button" class="btn btn-primary confirm">确认</button>
    </div>
  </form>
</dialog>
<dialog id="import-profile">
  <form>
    <div class="h4">导入存档</div>
    <div class="row">
      <div class="col">
        <input type="file" class="form-control" accept=".json" name="file" />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary cancel">取消</button>
      <button type="button" class="btn btn-primary confirm">确认</button>
    </div>
  </form>
</dialog>
