:host {
  background-color: white;
}
.b30, .b39 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  justify-content: space-around;
}
result-card {
  width: 240px;
}
.card {
  transform: scale(calc(var(--inner-width, 800) / 800));
  transform-origin: 0 0;
  background-repeat: no-repeat;
  background-position: 30% 0;
  background-size: cover;
  box-sizing: border-box;
  width: 800px;
  border: 1px solid var(--bs-border-color);
  border-radius: 16px;
}

.mask {
  padding: 16px 31px;
  border-radius: 16px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.username, .banner {
  font-weight: 600;
  font-size: 30px;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
}

.c8 {
  width: 66.67%;
}

.c4 {
  width: 33.33%;
}

.divider {
  border-top: 1px solid var(--bs-border-color);
  margin: 16px 0;
}

.footer {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footer, time {
  word-break: keep-all;
  white-space: nowrap;
}