main {
  margin: 1em 1em 0 1em;
}

.row > .col-auto {
  margin-bottom: 1em;
}

world-map-select {
  display: block;
  margin: 1em 1em;
}

.title {
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  border-bottom: 1px var(--bs-border-color) solid;
}

.title::before {
  display: block;
  content: " ";
  position: absolute;
  left: 1.25em;
  width: 0.125em;
  height: 1.4em;
  background-color: var(--bs-primary);
}

input[type="number"] {
  max-width: 6em;
}

.solutions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.solution {
  border: 1px solid var(--bs-border-color);
  padding: .5em;
  border-radius: var(--bs-border-radius);
}